/* ===========================================================
                     General Items
 ========================================================== */

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* Google Fonts */
}

/* ===========================================================
                     Navigation Bar
 ========================================================== */

.navbar-fixed-top {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav.navbar-nav.navbar-right li a {
  color: #eaeaea;
  font-size: 16px;
  font-weight: bold;
}
.nav.navbar-nav.navbar-right li a:hover {
  color: white;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #eaeaea;
  padding-top: 16px;
  padding-bottom: 16px;
}
#brand {
  height: 30px;
  width: 30px;
  display: inline;
  margin-right: 10px;
  border-radius: 10px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-nav > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/* ------------------ After Scroll ------------------------ */

.show {
  /*background: #1e5699;*/
  background: #2E76B5;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.4);
}
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ------------------ Fixed Nav Solution ------------------------ */

.navfix:before {
  display: block;
  position: relative;
  margin-top: -50px;
  height: 50px;
  content: " ";
  visibility: hidden;
}

/* =====================================================
                    Front Page Items
====================================================== */

#opening {
  text-align: center;
  padding-top: 20vh;
  font-weight: bold;
}
#cover.jumbotron {
  margin-bottom: 0px;
  /* fixes jumbotron default margin on bottom */
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 9%, #2989d8 69%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 9%, #2989d8 69%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 9%, #2989d8 69%, #7db9e8 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  color: #eaeaea;
  height: 100vh;
  /* sets height of jumbo to 100% of view */
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-800px, 0, 0);
  }
}
.holder, .level2, .level1 {
  min-height: 100%;
  position: absolute;
  bottom: 0;
}
.holder {
  width: 100%;
  overflow: hidden;
}
.level2, .level1 {
  width: 6000px;
  height: 198px;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 600px 198px;
  animation: slide linear infinite;
}
.level2 {
  background-image: url("../imgs/skyline2.png");
  animation-duration: 90s;
}
.level1 {
  background-image: url("../imgs/treeline-big.png");
  background-size: 600px 158px;
  height: 108px;
  animation-duration: 60s;
}

/* -------- Static Background for Mobile ----------- */

.holder-static, .level2-static, .level1-static {
  min-height: 100%;
  position: absolute;
  bottom: 0;
}
.holder-static {
  width: 100%;
  overflow: hidden;
}
.level2-static, .level1-static {
  width: 100vw;
  height: 198px;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 600px 198px;
}
.level2-static {
  background-image: url("../imgs/skyline2.png");
}
.level1-static {
  background-image: url("../imgs/treeline-big.png");
  background-size: 600px 158px;
}

/* =====================================================
                      My Skills
====================================================== */

#skills-inner.container {
  padding: 20px;
}

/* ===========================================================
                 Isotope.js custom (Portfolio)
 ========================================================== */

.portfolioFilter a {
  margin-right: 10px;
  color: #898989;
  text-decoration: none;
  font-size: 22px;
}
.portfolioFilter a:hover {
  color: white;
  font-weight: bold;
}
.portfolioFilter a.current {
  font-weight: bold;
  color: white;
}
.grid-item {
  width: 32%;
  margin: 5px;
  border-radius: 2px;
}

/*.grid-shadow {
  -webkit-box-shadow: 7px 12px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 12px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 12px 23px -4px rgba(0, 0, 0, 0.75);
}*/

.portfolioContainer {
  width: 100%;
  margin: auto;
}
#portfolio.container-fluid {
  /*background: #184458 url("/static/imgs/black-linen.png");*/
  background: #16294b;
  color: #eaeaea;
}

/* ------------------- Portfolio Rollover ------------------ */

.port-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px;
  background: rgba(46, 117, 179, 0.95);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 15px;
}

.button-space {
  margin-bottom: 20px
}

.grid-item:hover .port-text {
  visibility: visible;
  opacity: 1;
}
.ghost-button {
  color: white;
  border: 1.5px solid white;
  background: transparent;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}
.ghost-button:hover, .ghost-button:active {
  background: white;
  text-decoration: none;
}

/* ===========================================================
                      About Me Styling
 ========================================================== */

.img-center {
  margin: auto;
  /* Centers an image */
}
#about {
  background-color: #4badf7;
  padding: 20px;
  color: white;
}
#education {
  background-color: #4e2d82;
  color: white;
}
#work {
  background-color: #262627;
  color: white;
}
.padding-50 {
  padding: 45px;
}

/* ===========================================================
                    Footer Styling
 ========================================================== */

#Contact.container-fluid {
  color: #eaeaea;
  background-color: #1d333a;
  padding: 15px;
}
#portfolio.container-fluid {
  /*background: #184458 url("/static/imgs/black-linen.png");*/
  background: #16294b;
  color: #eaeaea;
}
.social {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-filter: grayscale(100%);
}
.on {
  -webkit-filter: none;
}

/* ===========================================================
                        Media Queries
 ========================================================== */

@media screen and (max-width: 992px) {
  .grid-item {
    width: 48%;
    margin: 2px;
  }
}
@media screen and (max-width: 767px) {
  /* ------- Nav Bar Fixes -------- */
  .navbar-fixed-top {
    background: #1e5699;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.4);
  }
  .nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 16px;
  }
  .navbar-default .navbar-brand {
    color: white;
    padding-top: 10px;
  }
  .navbar-header {
    background: #2E76B5;
  }
  /* ------- Portfolio Fixes ---------*/
  .grid-item {
    width: 100%;
    margin: 4px;
  }
  .port-text {
    font-size: 4vw;
    /* 15px */
    padding: 20px;
  }
  .ghost-button {
    padding: 5px 30px;
    font-size: 15px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 479px) {
  .grid-item {
    width: 100%;
    margin: 3px;
  }
  .port-text {
    font-size: 3.5vw;
    padding: 10px;
  }
  .ghost-button {
    padding: 2px 15px;
    font-size: 10px;
    font-weight: none;
  }
  .button-space {
    margin-bottom: 10px
  }
}
