$contact-background: #2b4d58;

#Contact.container-fluid {
  color: #eaeaea;
  background-color: $contact-background;
  padding: 15px;
}

#Contact {
  h3 {
    margin-bottom: 20px;
  }
  a {
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    @include transition(all 0.5s ease);
  }
  a:hover {
    color: #4badf7;
  }
}
